@media screen and (max-width:425px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }
    .nav-links li, button {
        margin-top: 18px;
    }
}





@media screen and (min-width:426px) and (max-width:886px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }
    .nav-links li, button {
        margin-top: 18px;
    }
}