@media screen and (max-width:425px) {
    nav, .thumbnail-container,.downloads-container  {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }
    .nav-links li, button {
        margin-top: 18px;
    }
    .banner-container {
        flex-direction: column-reverse;
        width: 85%;
        margin: auto;
    }
    .btn-go, .btn-signin {
        margin-left: 0;
        margin-top: 8px;
    }
    .banner-img img {
        width: 100%;
        height: 350px;
    }
    
    .downloads-texts h1 {
        font-size: 1.8rem;
        width: 100%;
    }
    .downloads-texts p {
        width: 100%;
    }
    .downloads-texts {
        text-align: center;
        margin-bottom: 25px;
    }
    .sub-img {
        height: 120px;
        width: 120px;
    }
    .games-category-container {
       
        width: 100%;
        margin-top: 0;
        gap: 0;
    }
    .category {
        gap: 0;
    }
    .test {
        margin-left: 0;
    }
    .footer-links {
        display: grid;
        grid-template-columns: 20% 20% 20%;
    }
    .footer-terms {
        display: grid;
        grid-template-columns: 35% 25%;
        gap:15px
    }
    .footer-icons {
        display: grid;
        grid-template-columns: repeat(3,0fr);
    }
}





@media screen and (min-width:426px) and (max-width:886px) {
    nav {
        width: 100%;
        
    }
    .logo {
        margin-left: 10px;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .thumbnail-container {
        flex-direction: column;
    }
    .downloads-container {
        flex-direction: column;
    }
    .downloads-img {
       margin-top: 25px;
    }
}