@media screen and (max-width:425px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }
    .nav-links li, button {
        margin-top: 18px;
    }
    .banner-container {
        flex-direction: column-reverse;
        width: 85%;
        margin: auto;
    }
    .banner-img img {
        width: 100%;
        
    }
    .thumbnail-container {
        flex-direction: column;
    }
    .downloads-container {
        flex-direction: column;
    }
    .downloads-texts h1 {
        font-size: 1.8rem;
        width: 100%;
    }
    .downloads-texts p {
        width: 100%;
    }
    .downloads-texts {
        text-align: center;
        margin-bottom: 25px;
    }
    .sub-img {
        height: 120px;
        width: 120px;
    }
    .games-category-container {
       
        width: 100%;
    }
    .test {
        margin-left: 0;
    }
}





@media screen and (min-width:426px) and (max-width:886px) {
    nav {
        width: 100%;
        
    }
    .logo {
        margin-left: 10px;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .thumbnail-container {
        flex-direction: column;
    }
    .downloads-container {
        flex-direction: column;
    }
    .downloads-img {
       margin-top: 25px;
    }
}